<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quartz2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2FD448591DBF5B62000AF334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FD448721DBF5B62000AF334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FD4487D1DBF5B62000AF334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
